body{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin: 0;
  background-color: rgb(190, 209, 127);
  height: 100vh;

  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

  .corpo{
    background-color: rgb(255, 255, 255);
    padding: 35px;
    border-radius: 30px;

    width: 85vw;
    box-shadow: 5px 5px 5px 0px #4b4b4bac;

    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
    gap: 15px;
  }

}

.opcoes{
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 15px;
  width: 100%;

  margin-top: 15px !important;

  .input{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-around;

    gap: 5px;
    width: 100%;
  }
}

input, select{
  padding: 10px;
  border: 1px solid #828282;
  border-radius: 10px;
}
h1, h3{
  text-align: center;
  color: rgb(77, 96, 12);
  font-weight: bold;
}
a{
  background-color: rgb(118, 144, 33);
  cursor: pointer;
  padding: 10px;
  border-radius: 15px;

  transition: all 0.75s;
}
a:hover{
  background-color: rgb(190, 209, 127);
  box-shadow: 5px 5px 5px 0px #4b4b4bac;
}

p{
  text-align: center;
}

.sorteado{
  margin-top:25px !important;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;
  gap: 5px;
}

.alinhamento{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  gap: 2.5rem;
}

img{
  height: 30vw;
}

.dados{
  width: 100%;
}

@media only screen and (max-width: 750px) {
  .alinhamento{
    display: flex;
    flex-direction: column;
    align-items: space-eve;
    justify-content: space-between;
  }
}
.vencedor{
  color: #06a00b;
  font-weight: bold;
}

.perdedor{
  color: #a70a0a;
  font-weight: bold;
}

input:disabled{
  background-color: #a8a8a8a6 !important;
}
select:disabled{
  background-color: #a8a8a8a6 !important;
}
